@model ProductViewModel 
@{
    ViewData["Title"] = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="background-color:white; border:solid 1px;">
    <div class="row pt-4">
        <div class="col-sm-7"><img style="width:550px;height:450px;" src="~/images/@Model.Id/@Model.MainImage"/></div>
        <div class="col-sm-5 pt-2">
            <h2>@Model.Name</h2>
            <h2></h2>
        </div>
    </div>
</div>