@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="col-3 mx-auto mt-5" method="post" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <h2 class="text-center">Sign In</h2>
    <div class="form-group">
        <label for="exampleInputEmail1" asp-for="Email">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" asp-for="Password">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>

</form>
