@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="col-4 mx-auto mt-5" method="post" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <h2 class="text-center">Register</h2>
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input type="text" asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="Gender">Gender</label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="text" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"/>
        </div>
        <div class="text-center">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
</form>
