@model ICollection<CategoryViewModel>


@foreach (var item in Model)
{
    <li class="nav-item"><a style="margin:0 50px;" class="nav-link"
     asp-controller="Product" asp-action="Index"><h3>@item.Name</h3></a></li>
    
}
    
