@model ICollection<CategoryViewModel>

@foreach (var item in Model)
{
    <li class="nav-item"><a class="nav-link categories"
     asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.Id"><h3>@item.Name</h3></a></li>
    
}