<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Online Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-nav" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://localhost:44376/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="navbar navbar-expand-lg navbar-light collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                    </li>
                </ul>
         </div>
    </nav>

        <div>
            @RenderBody()
        </div>
        <script src="~/js/site.js"></script>
        <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
