<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
</head>

<body class="main-Image">
    <nav class="navbar bg-dark navbar-dark justify-content-center fixed-top">
        <ul class="nav">
            <li class="nav-item">
                <form class="form-inline " action="/action_page.php">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </li>
        </ul>

    </nav>
    <nav class="navbar navbar-expand navbar-light" style="background-color:seagreen; padding-top:65px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-nav " id="navbarNav">
            <ul class="navbar-nav " style="padding-left:20px;">
                <li class="nav-item">
                    <a class="nav-link categories" asp-action="Index" asp-controller="Product"><h3><i class="fas fa-home"></i> Home</h3></a>
                </li>
                @await Component.InvokeAsync("_Menu")
            </ul>
        </div>
        <div class="navbar navbar-expand-lg navbar-light collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item ">
                        <a class="nav-link" style="font-family: Verdana; color: silver;" asp-action="Product" asp-controller="Admin">Admin Panel</a>
                    </li>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item autenticate">
                        <a class="nav-link" style="font-family: Verdana; color: silver;" asp-action="Login" asp-controller="Account">Sign In</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="font-family: Verdana; color: silver;" asp-action="Register" asp-controller="Account">Register</a>
                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link" style="font-family: Verdana; color: silver;" asp-action="SignOut" asp-controller="Account">Sign out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="nav col-md-2">
                <div class="nav-item dropdown pt-2">
                    <div>
                        <button type="button" style="color: seashell; width: 210px; background-color: seagreen;" class="menu-buttons btn dropdown-toggle" data-toggle="dropdown">
                            Categories
                        </button>
                        <div class="dropdown-menu" style="width:400px;">
                            @await Component.InvokeAsync("_Categories")
                        </div>
                    </div>
                    <div>
                        <button type="button" style="color:seashell; width: 210px; background-color:seagreen;" class="menu-buttons btn dropdown-toggle mt-2" data-toggle="dropdown">
                            Vendors
                        </button>
                        <div class="dropdown-menu" style="width:400px;">
                            @await Component.InvokeAsync("_Vendors")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 pl-3">
                @RenderBody()
            </div>
        </div>
    </div>
    <br>
    <script src="~/js/site.js"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
