
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-3 pt-3">
    <div class="nav flex-column nav-pills bg-info">
        <a class="nav-link text-light" asp-controller="Admin" asp-action="CategoryAdd">Add Category</a>
    </div>
</div>

