
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <a asp-controller="Admin" asp-action="CategoryAdd">Add Category</a>
</div>
<div>
    <a  asp-controller="Admin" asp-action="ProductAdd">Add Product</a>
</div>
@foreach (var item in ViewBag.Categories)
{
    <div>
        <h3>@item.Name</h3>
    </div>
}
