@{ 
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model VariantViewModel
<div class="pt-3">
    <form asp-action="VariantAdd" method="post">
        <label asp-for="Name">Input Variant </label>
        <input asp-for="Name" type="text"/><br />
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>